body {
    background: #D1EBED;
    overflow-x: hidden;
}

#header {
    width: 100vw;
    height: 4vw;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

.center {
    display: flex;
    justify-content: center;
}

#tag {
    position: absolute;
    font-family: Playfair Display;
    font-variant: small-caps;
    font-size: 4vw;
    letter-spacing: 0.2em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create{
    margin-top: 7%;
    font-family: Playfair Display;
    font-size: 1.5vw;
    letter-spacing: 0.2em;
    color: #575757;
}

.btn{
    font-family: Playfair Display;
    font-size: 1.2vw;
    background-color: transparent;
    border-radius: 10px;
    color: #575757;
    padding: .3rem .6rem
}