<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Apa kabar?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story6.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header"></div>
    <div class="center">
        <p id="tag">Halo, Apa Kabar?</p>
    </div>

    <form class="create" action="{% url 'story6:status_create' %}" method="post">
        {% csrf_token %}
        <div class="form-row center">
            <div class="form-group col-sm-5" id="field">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                {% endfor %}
            </div>
        </div>

        <div class="form-row center">
            <input id="add" type="submit" class="btn btn-secondary" value="Add">
        </div>
    </form>

    <div class="article">
            <div class="row">
                {% for i in status %}
                    <div class="col-sm-4 text-center">
                        <p>{{ i.status }}</p>
                        <p>{{ i.date.date }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>

    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <div class='text-center'>
                <a href="{% url 'story6:status_delete' %}"><button type="button" class="btn btn-secondary btn-sm">Clear</button></a>
            </div>
        </div>
    </div> 

</body>



